main {
    display: flex;
    align-items: center;
}

main > div:first-child {
    margin: 50px 50px 0px 0px;
}

main > div:nth-child(2) {
    margin: 50px 50px 0px 50px;
}

main > div:last-child {
    margin: 50px 0px 0px 50px;
}

table {
    border-collapse: collapse;
    min-width: auto;
    min-height: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 972px;
}

header > nav {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header > nav > * {
    margin: 20px;
}

#arrowSelector  {
    display: flex;
    width: 100%;
}

#arrow {
    position: relative;
    width: 100px;
    height: 100px;
    animation: 0.8s ease-in-out infinite running jumping;
}

#afterGame {
    position: absolute;
    display: grid;
    place-items: center;
}

.row > td {
    text-align: center;
    vertical-align: middle;
    border: 3px solid black;
    height: 150px;
    width: 150px;
    min-height: 150px;
    min-width: 150px;
}

.row > td:nth-child(1) {
    border-left: 0px;
}

.row > td:last-child {
    border-right: 0px;
}

.row:nth-child(1)>td {
    border-top: 0px;
}

.row:last-child>td {
    border-bottom: 0px;
}

.d-fichasDisponibles {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    min-height: 150px;
    min-width: 150px;
}

.dragable {
    cursor: grab;
}

.hide {
    visibility: hidden;
}

.dragOver {
    box-shadow: inset 0 0 0 5px rgb(0, 255, 34) !important;
}

.dragOverIncorrect {
    box-shadow: inset 0 0 0 5px red !important;
}

.storeElements > img {
    height: 150px;
    width: 150px;
}

.players {
    font-weight: 900;
}

.titlesEnd {
    position: absolute;
    font-size: 10rem;
    display: none;
}

.afterRightAnimation {
    justify-content: end;
}

.afterLeftAnimation {
    justify-content: initial;
}

.buttonEnd {
    z-index: 100;
    width: 250px;
    font-size: 2rem;
    margin-top: 280px;
    display: none;
    cursor: pointer;
    transition: 0.3s;
}

.buttonEnd:hover {
    background-color: black;
    color: white
}

.afterVisible {
    display: block;
}

.bluredBackground {
    filter: blur(10px);
}

.notClickable {
    cursor: default;
    user-select: none;
}

@keyframes slideLeft {
    from {
        transform: translateX(870px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideRigth {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(870px);
    }
}

@keyframes jumping {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}